/* Typography */


h1, h2, h3, h4, h5, h6 {

    /* font-family: 'Bree Serif', serif; */
    font-weight:bold;
    font-family: 'Homemade Apple', cursive;
    padding-bottom: .2em;
    overflow:visible;

}


