.wldc-color-practice-bg {
    background:#ffd6d0;
}

.wldc-color-create-bg {
    background:#f75c62;
}

.wldc-color-made-bg {
    background:#ffcaa1;
}

.wldc-color-train-bg {
    background:#eaa36d;
}



#left-sidebar {

  background:#efefef;
}



a,
.side-nav li a:not(.button) {
	color:#B12D50;
}

a:hover,
.side-nav li a:not(.button):hover {

	color:#B12D50;
	opacity: .8;

	}

.side-nav li a:not(.button):hover {
	background:white;
}

